body {
    background-position: center;
    background-image: url("../images/jpn2.jpg");
    background-attachment: fixed;
    background-size: 12000 px1000px;
    background-repeat: repeat no-repeat;
}

div.wrapper {
    max-width: 105rem;
    margin: 2rem auto;
    background: white;
    box-shadow: 0 0 30px black;
}
header {
    background-image: url("../images/flowers2.png");
}
main {
    div.pop2 {
    background-image: url("../images/discovery.png");
    }
    
}