// FONT
$defaultFont: 'Merienda', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

// COLORS
$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$primaryColorr: #ff6978;
$secondaryColorr: #fffcf9;
$fontColor: #35373a;
$accent: #fff57d;
$red: red;
$background: #f8333c;
$white: white;

// GUTTERS
$gutter: 2%;
$gutterDbl: (2 * $gutter);
